/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: var(--hero-background-color); /* Use the variable for background color */
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.heroImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.hero__subtitle {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--hero-text-color); /* Use the variable for text color */
}
